/* Styleable variables are in the base layer so they can be overridden easily */
@layer base {
    :host {
        --ilw-profile-card--font: var(--il-font-sans); /*var: Font for the card content*/

        --ilw-profile-card--heading-color: var(--il-blue); /*var: Color of the heading in the card*/
        --ilw-profile-card--text-color: var(--ilw-text--color); /*var: Color of text in the card*/
        --ilw-profile-card--heading--font-size: 1.5em; /*var: Size of headings inside the card*/

        --ilw-profile-card--link: var(--il-industrial); /*var: Color for links inside the card */
        --ilw-profile-card--link-focus: var(--ilw-link--focused-color); /*var: Focus and hover color for links inside the card*/
        --ilw-profile-card--link-visited: var(--il-industrial); /*var: Visited link color for inside the card*/
    }
}

:host {
    display: block;
    font-family: var(--ilw-profile-card--font);
}

.profile-image {
    width: 100%;

    ::slotted(*) {
        width: 100%;
    }

    &.aspect {
        height: 100%;
        ::slotted(*) {
            height: 100%;
            object-fit: cover;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.address, .phone, .email {
    display: flex;
    gap: 15px;

    ::slotted(*) {
        margin: 0;
    }

    ::slotted([slot=address]) {
        display: flex;
        flex-direction: column;
    }

    &.hidden {
        display: none;
    }
}