ilw-profile-card {
    a {
        color: var(--ilw-color--link);

        &:focus {
            color: var(--ilw-color--focus--text);
            background-color: var(--ilw-color--focus--background);
            outline: var(--ilw-color--focus--outline);
        }

        &:hover {
            color: var(--ilw-color--focus--text);
        }
    }

    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
        color: var(--ilw-profile-card--heading-color);
        font-size: var(--ilw-profile-card--heading--font-size);

        &:first-of-type {
            margin: 0;
        }
    }

}